<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yacoding.xt.admin.dao.SubjectMapper">
    
    <resultMap id="SubjectMap" type="com.yacoding.xt.pojo.Subject"/>
    <select id="findSubjectListByCourseId" resultType="com.yacoding.xt.pojo.Subject">

    </select>

</mapper>